@model YAB.Models.TermAccounts

<div>
    <h4>Investment Information</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.MaturationDate)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.MaturationDate)
        </dd>
    </dl>
</div>
