@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">The Ultimate in Banking</h1>
    <h3>We're not just another bank. We're Yet Another Bank.</h3>
</div>
